* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/pozadina2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glavno-dugme {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 512px;
  background-image: url("./assets/Jovan_Cvijic.png");
  background-size: cover;
  background-repeat: none;
}
.glavno-dugme a {
  background-color: none;
  color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 512px;
  height: 512px;
  font-size: 512px;
  user-select: none;
}
