@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.menu-div {
  display: grid;
  gap: 120px 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.menu-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#068fff, #4e4feb);
  cursor: pointer;
  width: 360px;
  height: 120px;
  color: #fff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  border: 2px solid #000;
  border-radius: 12px;
}
.menu-button a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
