* {
  padding: 0;
  margin: 0;
}

.osoblje {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.slika {
  text-align: center;
}

.slika img {
  width: 100%;
  height: auto;
}

.btnAdd {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  width: 200;
  height: 300;
}

/*.btnAdd button {
  left: 50%;
  margin-left: 22px;
}*/
