@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.slika {
  font-family: "Roboto", sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
}
#img {
  height: 313px;
  width: 235px;
}
.slika img {
  height: 313px;
  width: 235px;
}

.remove-btn {
  background: linear-gradient(#068fff, #4e4feb);
  filter: hue-rotate(135deg);
  margin-left: 15%;
}
